:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 460px;
    color: white;
    border-radius: 20px;
    background-color: white;
    margin: 20px 0 auto;
}
h2 {
    font-size: 19px;
    font-weight: 500;
}

.btn-container {
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    position: absolute;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500px;
    text-align: center;
}